body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16;
}


a {
  color: #00C;
  text-decoration: none;
}

a:hover {
  color: #A00;
  text-decoration: underline;
}


.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.download {
  margin-bottom: 40px;
}


.example .row p {
  line-height: 1.5em;  
}

.example .row > div {
  background-color: #f6f6f6;
  border: 1px dashed #ccc;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
}

.example .row > div > div {
  background-color: #eee;
}

.example .row > div > div > div {
  background-color: #e6e6e6;
}

.example .row > div > div > div > div {
  background-color: #ddd;
}

.example .row > div > div > div > div > div {
  background-color: #d6d6d6;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 *
 * Header
 *
-* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#header {
  padding: 75px 0;
  background-color: #333;
  color: #fff;
}

#header h1 {
  margin: 0;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 *
 * Footer
 *
-* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#footer {
  padding: 40px 0;
  margin-top: 100px;
  border-top: 1px solid #ccc;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 12px;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none; 
}