@import "nib"

/**
 * Simple CSS grid
 */

$grid_columns = 12
$grid_gutter = 10px
$grid_width = 100 / $grid_columns


.container
  width 100%
  margin-left auto
  margin-right auto
  padding-left $grid_gutter
  padding-right $grid_gutter
  box-sizing border-box


.row
  margin-left -($grid_gutter)
  margin-right -($grid_gutter)
  *zoom 1
  clearfix()
   
  *
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box


.col
  position relative
  float left
  min-height 1px
  padding-left $grid_gutter
  padding-right $grid_gutter


for i in (1..$grid_columns)
  .col-{i}
    @extend .col


for i in (1..$grid_columns)
  .col-{i}
    width (i * $grid_width)%


for i in (1..$grid_columns - 1)
  .col-offset-{i}
    margin-left (i * $grid_width)%


@media (min-width 1200px)
  .container
    max-width 1260px

@media (max-width 768px)
  .col
    float none
    width 100%

  for i in (1..$grid_columns)
    .col-{i}
      @extend .col

  for i in (1..$grid_columns - 1)
    .col-offset-{i}
      margin-left auto
